# Ignore Gradle project-specific cache directory
.gradle

.idea/
out/
build/
.kotlin/

# Exclude idea config that we want persisted in version control
!.idea/runConfigurations

# Generated
checkstyle_ide.xml

.DS_Store
