grant {
  // permissions for http clients
  permission java.net.URLPermission "http:*", "POST:*";
  permission java.net.URLPermission "https:*", "POST:*";
};
